   .catCaption {
    border: solid fuchsia;
}
    * {
    font-family: 'Comic Sans';
    }

    {
        background-color:
    blanchedalmond;
    }

    #catTable {
        border: solid
        rebeccapurple 10px;
        }

    img.cat {
    height: 200px
    }